.text-title-top h1{
    font-size: 22px;
    text-align: center;
    padding: 30px;
    margin-top: 12px;
    border-bottom: 2px solid rgb(49, 48, 48);
}

.gallary-section{
    padding: 4%;
}
.gallary-section .img-gallary{
    width: 48%;
}
.gallary-section .img-gallary img{
    width: 100%;
}
@media screen and (max-width:768px){
    .gallary-section .img-gallary{
      width: 100%;
      margin-bottom: 25px;
    }
  }